/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.col-shoe-archive {
  float: left;
  width: 32%;
  margin-left: 2%;
}

.col-2 {
  float: left;
  width: 66%;
}

.shoe-image-col {
  float: left;
  width: 32%;
  margin-top: 15px;
  margin-left: 2%;
  top: 5px;
  position: relative;
}

.shoe-image-col-first {
  margin-left: 0;
  clear: left;
}

.bottom-col {
  float: left;
  width: 32%;
  margin-top: 15px;
  margin-right: 2%;
  top: 5px;
  position: relative;
}

.bottom-col-last {
  float: left;
  width: 32%;
  margin-top: 15px;
  top: 5px;
  position: relative;
}
